@keyframes putar {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(20px, 10px) scale(1.1);
    }
}

@keyframes fadeIn {
    to {
        opacity: 0.5;
    }
}

