.videos-maroon {
    margin-top: -70px;
    background-color: #920000;
    height: 500px;
    width: 50vw;

    button {
        margin-top: 50px;
    }

    img {
        width: 70px;
        height: 70px;
        cursor: pointer;
        opacity: 0.6;
    }
}